# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
bin/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Logs
*.log

# JVM crash artifacts
hs_err_pid*.log
replay_pid*.log
